# Obtaining Our Data

## Introduction
In this lesson, we'll sythesize many of our data loading skills to date in order to merge multiple datasets from various sources.

## Objectives
You will be able to:
* Understand the ETL process and the steps it consists of
* Understand the challenges of working with data from multiple sources

## Loading SQL DB to DataFrames
<img src="Database-Schema.png">

In [1]:
import sqlite3
import pandas as pd

#Create a connection
con = sqlite3.connect('data.sqlite')
#Create a cursor
cur = con.cursor()
#Select some data
cur.execute("""select * from orders join orderdetails using(orderNumber);""")
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
print(df.shape)
df.head()

(2996, 11)

,orderNumber,orderDate,requiredDate,shippedDate,status,comments,customerNumber,productCode,quantityOrdered,priceEach,orderLineNumber
0,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,,363,S18_1749,30,136.00,3
1,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,,363,S18_2248,50,55.09,2
2,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,,363,S18_4409,22,75.46,4
3,10100,2003-01-06,2003-01-13,2003-01-10,Shipped,,363,S24_3969,49,35.29,1
4,10101,2003-01-09,2003-01-18,2003-01-11,Shipped,Check on availability.,128,S18_2325,25,108.06,4

In [2]:
import sqlite3
import pandas as pd

In [3]:
#Create a connection
con = sqlite3.connect('data.sqlite')
#Create a cursor
cur = con.cursor()
#Select some data
cur.execute("""select * from products;""")
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
print(df.shape)
df.head()

(110, 9)

,productCode,productName,productLine,productScale,productVendor,productDescription,quantityInStock,buyPrice,MSRP
0,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70
1,S10_1949,1952 Alpine Renault 1300,Classic Cars,1:10,Classic Metal Creations,Turnable front wheels; steering function; deta...,7305,98.58,214.30
2,S10_2016,1996 Moto Guzzi 1100i,Motorcycles,1:10,Highway 66 Mini Classics,"Official Moto Guzzi logos and insignias, saddl...",6625,68.99,118.94
3,S10_4698,2003 Harley-Davidson Eagle Drag Bike,Motorcycles,1:10,Red Start Diecast,"Model features, official Harley Davidson logos...",5582,91.02,193.66
4,S10_4757,1972 Alfa Romeo GTA,Classic Cars,1:10,Motor City Art Classics,Features include: Turnable front wheels; steer...,3252,85.68,136.00

## Merging Data

Recall that we can also join data from multiple tables in sql.

In [4]:
#Create a connection
con = sqlite3.connect('data.sqlite')
#Create a cursor
cur = con.cursor()
#Select some data
cur.execute("""select * from products
                        join orderdetails
                        using (productCode);""")
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
print(df.shape)
df.head()

(2996, 13)

,productCode,productName,productLine,productScale,productVendor,productDescription,quantityInStock,buyPrice,MSRP,orderNumber,quantityOrdered,priceEach,orderLineNumber
0,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70,10107,30,81.35,2
1,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70,10121,34,86.13,5
2,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70,10134,41,90.92,2
3,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70,10145,45,76.56,6
4,S10_1678,1969 Harley Davidson Ultimate Chopper,Motorcycles,1:10,Min Lin Diecast,"This replica features working kickstand, front...",7933,48.81,95.70,10159,49,81.35,14

We can also merge data from a seperate csv file. For example, say we take a seperate data source regarding daily sales data for our various branches. We might first generate a view from our database:

In [7]:
#Create a connection
con = sqlite3.connect('data.sqlite')
#Create a cursor
cur = con.cursor()
#Select some data
cur.execute("""select * from customers
                        join orders
                        using(customerNumber);""")
df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
print(df.shape)
df.head()

(326, 19)

,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit,orderNumber,orderDate,requiredDate,shippedDate,status,comments
0,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,Nantes,,44000,France,1370,21000.00,10123,2003-05-20,2003-05-29,2003-05-22,Shipped,
1,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,Nantes,,44000,France,1370,21000.00,10298,2004-09-27,2004-10-05,2004-10-01,Shipped,
2,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,Nantes,,44000,France,1370,21000.00,10345,2004-11-25,2004-12-01,2004-11-26,Shipped,
3,112,Signal Gift Stores,King,Jean,7025551838,8489 Strong St.,,Las Vegas,NV,83030,USA,1166,71800.00,10124,2003-05-21,2003-05-29,2003-05-25,Shipped,Customer very concerned about the exact color ...
4,112,Signal Gift Stores,King,Jean,7025551838,8489 Strong St.,,Las Vegas,NV,83030,USA,1166,71800.00,10278,2004-08-06,2004-08-16,2004-08-09,Shipped,

And then load the seperate datefile:

In [8]:
daily_sums = pd.read_csv('Daily_Sales_Summaries.csv')
daily_sums.head()

    orderDate      min      max       sum         mean          std
0  2003-01-06  1660.12  4080.00  10223.83  2555.957500  1132.572429
1  2003-01-09  1463.85  4343.56  10549.01  2637.252500  1244.866467
2  2003-01-10  1768.33  3726.45   5494.78  2747.390000  1384.599930
3  2003-01-29  1283.48  5571.80  50218.95  3138.684375  1168.280303
4  2003-01-31  1338.04  4566.99  40206.20  3092.784615  1148.570425

In [9]:
df

,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit,orderNumber,orderDate,requiredDate,shippedDate,status,comments
0,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,Nantes,,44000,France,1370,21000.00,10123,2003-05-20,2003-05-29,2003-05-22,Shipped,
1,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,Nantes,,44000,France,1370,21000.00,10298,2004-09-27,2004-10-05,2004-10-01,Shipped,
2,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,Nantes,,44000,France,1370,21000.00,10345,2004-11-25,2004-12-01,2004-11-26,Shipped,
3,112,Signal Gift Stores,King,Jean,7025551838,8489 Strong St.,,Las Vegas,NV,83030,USA,1166,71800.00,10124,2003-05-21,2003-05-29,2003-05-25,Shipped,Customer very concerned about the exact color ...
4,112,Signal Gift Stores,King,Jean,7025551838,8489 Strong St.,,Las Vegas,NV,83030,USA,1166,71800.00,10278,2004-08-06,2004-08-16,2004-08-09,Shipped,
5,112,Signal Gift Stores,King,Jean,7025551838,8489 Strong St.,,Las Vegas,NV,83030,USA,1166,71800.00,10346,2004-11-29,2004-12-05,2004-11-30,Shipped,
6,114,"Australian Collectors, Co.",Ferguson,Peter,03 9520 4555,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,1611,117300.00,10120,2003-04-29,2003-05-08,2003-05-01,Shipped,
7,114,"Australian Collectors, Co.",Ferguson,Peter,03 9520 4555,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,1611,117300.00,10125,2003-05-21,2003-05-27,2003-05-24,Shipped,
8,114,"Australian Collectors, Co.",Ferguson,Peter,03 9520 4555,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,1611,117300.00,10223,2004-02-20,2004-02-29,2004-02-24,Shipped,
9,114,"Australian Collectors, Co.",Ferguson,Peter,03 9520 4555,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,1611,117300.00,10342,2004-11-24,2004-12-01,2004-11-29,Shipped,
10,114,"Australian Collectors, Co.",Ferguson,Peter,03 9520 4555,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,1611,117300.00,10347,2004-11-29,2004-12-07,2004-11-30,Shipped,Can we deliver the new Ford Mustang models by ...
11,119,La Rochelle Gifts,Labrune,Janine,40.67.8555,"67, rue des Cinquante Otages",,Nantes,,44000,France,1370,118200.00,10275,2004-07-23,2004-08-02,2004-07-29,Shipped,
12,119,La Rochelle Gifts,Labrune,Janine,40.67.8555,"67, rue des Cinquante Otages",,Nantes,,44000,France,1370,118200.00,10315,2004-10-29,2004-11-08,2004-10-30,Shipped,
13,119,La Rochelle Gifts,Labrune,Janine,40.67.8555,"67, rue des Cinquante Otages",,Nantes,,44000,France,1370,118200.00,10375,2005-02-03,2005-02-10,2005-02-06,Shipped,
14,119,La Rochelle Gifts,Labrune,Janine,40.67.8555,"67, rue des Cinquante Otages",,Nantes,,44000,France,1370,118200.00,10425,2005-05-31,2005-06-07,,In Process,
15,121,Baane Mini Imports,Bergulfsen,Jonas,07-98 9555,Erling Skakkes gate 78,,Stavern,,4110,Norway,1504,81700.00,10103,2003-01-29,2003-02-07,2003-02-02,Shipped,
16,121,Baane Mini Imports,Bergulfsen,Jonas,07-98 9555,Erling Skakkes gate 78,,Stavern,,4110,Norway,1504,81700.00,10158,2003-10-10,2003-10-18,2003-10-15,Shipped,
17,121,Baane Mini Imports,Bergulfsen,Jonas,07-98 9555,Erling Skakkes gate 78,,Stavern,,4110,Norway,1504,81700.00,10309,2004-10-15,2004-10-24,2004-10-18,Shipped,
18,121,Baane Mini Imports,Bergulfsen,Jonas,07-98 9555,Erling Skakkes gate 78,,Stavern,,4110,Norway,1504,81700.00,10325,2004-11-05,2004-11-13,2004-11-08,Shipped,
19,124,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,,San Rafael,CA,97562,USA,1165,210500.00,10113,2003-03-26,2003-04-02,2003-03-27,Shipped,
20,124,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,,San Rafael,CA,97562,USA,1165,210500.00,10135,2003-07-02,2003-07-12,2003-07-03,Shipped,
21,124,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,,San Rafael,CA,97562,USA,1165,210500.00,10142,2003-08-08,2003-08-16,2003-08-13,Shipped,
22,124,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,,San Rafael,CA,97562,USA,1165,210500.00,10182,2003-11-12,2003-11-21,2003-11-18,Shipped,
23,124,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,,San Rafael,CA,97562,USA,1165,210500.00,10229,2004-03-11,2004-03-20,2004-03-12,Shipped,
24,124,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,,San Rafael,CA,97562,USA,1165,210500.00,10271,2004-07-20,2004-07-29,2004-07-23,Shipped,
25,124,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,,San Rafael,CA,97562,USA,1165,210500.00,10282,2004-08-20,2004-08-26,2004-08-22,Shipped,
26,124,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,,San Rafael,CA,97562,USA,1165,210500.00,10312,2004-10-21,2004-10-27,2004-10-23,Shipped,
27,124,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,,San Rafael,CA,97562,USA,1165,210500.00,10335,2004-11-19,2004-11-29,2004-11-23,Shipped,
28,124,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,,San Rafael,CA,97562,USA,1165,210500.00,10357,2004-12-10,2004-12-16,2004-12-14,Shipped,
29,124,Mini Gifts Distributors Ltd.,Nelson,Susan,4155551450,5677 Strong St.,,San Rafael,CA,97562,USA,1165,210500.00,10368,2005-01-19,2005-01-27,2005-01-24,Shipped,Can we renegotiate this one?
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
296,456,Microscale Inc.,Choi,Yu,2125551957,5290 North Pendale Street,Suite 200,NYC,NY,10022,USA,1286,39800.00,10242,2004-04-20,2004-04-28,2004-04-25,Shipped,Customer is interested in buying more Ferrari ...
297,456,Microscale Inc.,Choi,Yu,2125551957,5290 North Pendale Street,Suite 200,NYC,NY,10022,USA,1286,39800.00,10319,2004-11-03,2004-11-11,2004-11-06,Shipped,Customer requested that DHL is used for this s...
298,458,"Corrida Auto Replicas, Ltd",Sommer,Martín,(91) 555 22 82,"C/ Araquil, 67",,Madrid,,28023,Spain,1702,104600.00,10126,2003-05-28,2003-06-07,2003-06-02,Shipped,
299,458,"Corrida Auto Replicas, Ltd",Sommer,Martín,(91) 555 22 82,"C/ Araquil, 67",,Madrid,,28023,Spain,1702,104600.00,10214,2004-01-26,2004-02-04,2004-01-29,Shipped,
300,458,"Corrida Auto Replicas, Ltd",Sommer,Martín,(91) 555 22 82,"C/ Araquil, 67",,Madrid,,28023,Spain,1702,104600.00,10348,2004-11-01,2004-11-08,2004-11-05,Shipped,
301,462,FunGiftIdeas.com,Benitez,Violeta,5085552555,1785 First Street,,New Bedford,MA,50553,USA,1216,85800.00,10166,2003-10-21,2003-10-30,2003-10-27,Shipped,
302,462,FunGiftIdeas.com,Benitez,Violeta,5085552555,1785 First Street,,New Bedford,MA,50553,USA,1216,85800.00,10321,2004-11-04,2004-11-12,2004-11-07,Shipped,
303,462,FunGiftIdeas.com,Benitez,Violeta,5085552555,1785 First Street,,New Bedford,MA,50553,USA,1216,85800.00,10388,2005-03-03,2005-03-11,2005-03-09,Shipped,
304,471,"Australian Collectables, Ltd",Clenahan,Sean,61-9-3844-6555,7 Allen Street,,Glen Waverly,Victoria,3150,Australia,1611,60300.00,10193,2003-11-21,2003-11-28,2003-11-27,Shipped,
305,471,"Australian Collectables, Ltd",Clenahan,Sean,61-9-3844-6555,7 Allen Street,,Glen Waverly,Victoria,3150,Australia,1611,60300.00,10265,2004-07-02,2004-07-09,2004-07-07,Shipped,
306,471,"Australian Collectables, Ltd",Clenahan,Sean,61-9-3844-6555,7 Allen Street,,Glen Waverly,Victoria,3150,Australia,1611,60300.00,10415,2005-05-09,2005-05-20,2005-05-12,Disputed,Customer claims the scales of the models don't...
307,473,Frau da Collezione,Ricotti,Franco,+39 022515555,20093 Cologno Monzese,Alessandro Volta 16,Milan,,,Italy,1401,34800.00,10157,2003-10-09,2003-10-15,2003-10-14,Shipped,
308,473,Frau da Collezione,Ricotti,Franco,+39 022515555,20093 Cologno Monzese,Alessandro Volta 16,Milan,,,Italy,1401,34800.00,10218,2004-02-09,2004-02-16,2004-02-11,Shipped,Customer requested that ad materials (such as ...
309,475,West Coast Collectables Co.,Thompson,Steve,3105553722,3675 Furth Circle,,Burbank,CA,94019,USA,1166,55400.00,10199,2003-12-01,2003-12-10,2003-12-06,Shipped,
310,475,West Coast Collectables Co.,Thompson,Steve,3105553722,3675 Furth Circle,,Burbank,CA,94019,USA,1166,55400.00,10215,2004-01-29,2004-02-08,2004-02-01,Shipped,Customer requested that FedEx Ground is used f...
311,484,"Iberia Gift Imports, Corp.",Roel,José Pedro,(95) 555 82 82,"C/ Romero, 33",,Sevilla,,41101,Spain,1702,65700.00,10184,2003-11-14,2003-11-22,2003-11-20,Shipped,
312,484,"Iberia Gift Imports, Corp.",Roel,José Pedro,(95) 555 82 82,"C/ Romero, 33",,Sevilla,,41101,Spain,1702,65700.00,10303,2004-10-06,2004-10-14,2004-10-09,Shipped,Customer inquired about remote controlled mode...
313,486,Motor Mint Distributors Inc.,Salazar,Rosa,2155559857,11328 Douglas Av.,,Philadelphia,PA,71270,USA,1323,72600.00,10109,2003-03-10,2003-03-19,2003-03-11,Shipped,Customer requested that FedEx Ground is used f...
314,486,Motor Mint Distributors Inc.,Salazar,Rosa,2155559857,11328 Douglas Av.,,Philadelphia,PA,71270,USA,1323,72600.00,10236,2004-04-03,2004-04-11,2004-04-08,Shipped,
315,486,Motor Mint Distributors Inc.,Salazar,Rosa,2155559857,11328 Douglas Av.,,Philadelphia,PA,71270,USA,1323,72600.00,10331,2004-11-17,2004-11-23,2004-11-23,Shipped,Customer requested special shippment. The inst...
316,487,Signal Collectibles Ltd.,Taylor,Sue,4155554312,2793 Furth Circle,,Brisbane,CA,94217,USA,1165,60300.00,10149,2003-09-12,2003-09-18,2003-09-17,Shipped,
317,487,Signal Collectibles Ltd.,Taylor,Sue,4155554312,2793 Furth Circle,,Brisbane,CA,94217,USA,1165,60300.00,10219,2004-02-10,2004-02-17,2004-02-12,Shipped,
318,489,"Double Decker Gift Stores, Ltd",Smith,Thomas,(171) 555-7555,120 Hanover Sq.,,London,,WA1 1DP,UK,1501,43300.00,10186,2003-11-14,2003-11-20,2003-11-18,Shipped,They want to reevaluate their terms agreement ...
319,489,"Double Decker Gift Stores, Ltd",Smith,Thomas,(171) 555-7555,120 Hanover Sq.,,London,,WA1 1DP,UK,1501,43300.00,10213,2004-01-22,2004-01-28,2004-01-27,Shipped,Difficult to negotiate with customer. We need ...
320,495,Diecast Collectables,Franco,Valarie,6175552555,6251 Ingle Ln.,,Boston,MA,51003,USA,1188,85100.00,10207,2003-12-09,2003-12-17,2003-12-11,Shipped,Check on availability.
321,495,Diecast Collectables,Franco,Valarie,6175552555,6251 Ingle Ln.,,Boston,MA,51003,USA,1188,85100.00,10243,2004-04-26,2004-05-03,2004-04-28,Shipped,
322,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00,10138,2003-07-07,2003-07-16,2003-07-13,Shipped,
323,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00,10179,2003-11-11,2003-11-17,2003-11-13,Cancelled,Customer cancelled due to urgent budgeting iss...
324,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00,10360,2004-12-16,2004-12-22,2004-12-18,Shipped,
325,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00,10399,2005-04-01,2005-04-12,2005-04-03,Shipped,

In [7]:
merged = pd.merge(df, daily_sums)

## Checking Merged Data

It's always good practice to check assumptions and preview transformed data views throughout your process. Let's take a look:

In [8]:
merged.head()

,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,...,orderDate,requiredDate,shippedDate,status,comments,min,max,sum,mean,std
0,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,Nantes,,44000,...,2003-05-20,2003-05-29,2003-05-22,Shipped,,2163.50,5282.64,14571.44,3642.860000,1322.891537
1,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,Nantes,,44000,...,2004-09-27,2004-10-05,2004-10-01,Shipped,,1938.24,4128.54,6066.78,3033.390000,1548.775983
2,103,Atelier graphique,Schmitt,Carine,40.32.2555,"54, rue Royale",,Nantes,,44000,...,2004-11-25,2004-12-01,2004-11-26,Shipped,,557.60,7573.50,20564.45,2570.556250,2178.832190
3,350,Marseille Mini Autos,Lebihan,Laurence,91.24.4555,"12, rue des Bouchers",,Marseille,,13008,...,2004-11-25,2004-12-02,2004-11-29,Shipped,,557.60,7573.50,20564.45,2570.556250,2178.832190
4,112,Signal Gift Stores,King,Jean,7025551838,8489 Strong St.,,Las Vegas,NV,83030,...,2003-05-21,2003-05-29,2003-05-25,Shipped,Customer very concerned about the exact color ...,798.38,4704.92,40207.06,2680.470667,1255.052262

Pandas merge method conveniently uses common column names between the dataframes. You can always specifically specify what columns to join on by using the `on` clause as in `pd.merge(df1, df2, on=[col1, col2])`. Unfortunately, columns that are not identically named beforehand will not work with this convenience method. Additionally, it is imperitive to check the formatting of the join keys between the tables. A number formatted as a string can often ruin joins, and seperate formatting conventions such as 'U.S.' versus 'USA' are also important preprocessing considerations before merging data files from various sources. In this case, everything worked smoothly, but it's good to keep in mind what problems may occur.

## Saving Transformed Data to File
Finally, we can save our transformed dataset.

In [9]:
merged.to_csv('Merged_Dataset.csv', index=False)

## Summary
Well done! In this lesson we review merges, as well as potential pitfalls in merging datasets from different sources. In the next lab, you'll get some practice doing this as an initial step to a regression task.